modeler-merge-marker
.mendix-cache/*
Git-8x.mpr.lock
*.launch
deployment/*
packages/*
releases/*
Git-8x.mpr.bak
/*.launch
/deployment/
/packages/
/releases/
/.mendix-cache/
/.classpath
/.project
/git-8x.mpr.bak
/git-8x.mpr.lock
/modeler-merge-marker
/project-settings.user.json
/javasource/*/proxies/
/javasource/system/
/**/node_modules/
!/javascriptsource/**/node_modules/
